/* Table Styles */
.productbarcodes .column-product {
	width: 30%;
}

.productbarcodes .column-product_price {
	width: 15%
}

.productbarcodes .column-product_price,
.productbarcodes .column-product_sku,
.productbarcodes .column-stock_level {
	text-align: center;
}

.productbarcodes .column-product_image {
  width: 52px;
  text-align: center;
  white-space: nowrap;
}

.productbarcodes td.column-product_image img {
  margin: 0;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}

.productbarcodes input.product-label-input {
	width: 100%
}

/* Barcode Preview */
#woocommerce-dymo-print-preview {
	color:#000;
	width:325px;
	position:relative;
	background-color:#E9E9E9;
	border:1px solid #D3D3D3;
	margin-top:15px;
	padding:10px;
	text-align:center;
	display:block;
}