.product-barcodes th.product-title,
.product-barcodes td.product-title {
	width: 30%;
}

.product-barcodes th.product-price,
.product-barcodes td.product-price {
	width: 15%
}

.product-barcodes .product-price,
.product-barcodes .product-sku,
.product-barcodes .product-qty,
.product-barcodes .product-id {
	text-align: center;
}

.product-barcodes .column-thumb {
  width: 52px;
  text-align: center;
  white-space: nowrap;
}

.product-barcodes td.column-thumb img {
  margin: 0;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}

input.product-label-input {
	width: 100%
}

#woocommerce-dymo-print-preview {
	color:#000;
	width:325px;
	position:relative;
	background-color:#E9E9E9;
	border:1px solid #D3D3D3;
	margin-top:15px;
	padding:10px;
	text-align:center;
	display:block;
}